<div class="container">
  <div class="row">
    <div class="page-header">
      <h1>
        Found Items
        <div class="pull-right">
          <% if user_signed_in? %>
            <%= link_to icon('plus'), new_found_item_path, class: "btn btn-lg btn-success" %>
          <% end %>
        </div>

      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <h4>Narrow By:</h4>
      <br>

      <%= search_form_for @q do |f| %>
        <div class="form-group">
          <h5><strong>Search:</strong></h5>
          <%= f.text_field :name_or_desc_cont, :class => "form-control", :placeholder => "Enter text here..." %>
        </div>

        <hr>

        <div class="form-group">
          <h5>Location (ZIP only):</h5>
          <%= f.text_field :location_eq, :class => "form-control", :placeholder => "Ex. 60654" %>
        </div>

        <hr>

        <div class="form-group">
          <h5>Category:</h5>
          <% Category.all.each do |category| %>
            <p>
              <%= check_box_tag('q[category_id_eq_any][]', category.id, (true if @q.category_id_eq_any.try(:include?, category.id))) %>
              <%= category.name %>
            </p>
          <% end %>
        </div>

        <hr>

        <%= f.submit :class => "btn btn-primary" %>
        <a href="/found_items" class="btn btn-default">Reset</a>
      <% end %>
    </div>

  <div class="col-md-10">
    <div class="row isotope-container">
    <% @found_items.each do |found_item| %>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 isotope-item">
        <div class="panel panel-default item-border">
          <div class="panel-heading">
            <h3 class="panel-title"><%= found_item.name.capitalize.truncate(30) %></h3>
          </div>
          <div class="panel-body">
            <dl>
              <div class="boxed-image">
                <dd><%= image_tag (found_item.image1), class: "image-index img-responsive" %></dd>
              </div>
            </dl>
            <div class="btn-group btn-group-justified">
              <%= link_to icon('search-plus'), found_item, class: "btn btn-primary bottom-button" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>

<!-- JavaScript for Isotope layout and quicksearch -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.1.8/imagesloaded.pkgd.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.0.0/isotope.pkgd.min.js"></script>
<script>
  $(function() {
    // quick search regex
    var qsRegex;

    // init Isotope
    var $container = $('.isotope-container');

    $container.imagesLoaded(function() {
      $container.isotope({
        itemSelector: '.isotope-item',
        layoutMode: 'masonry',
        filter: function() {
          return qsRegex ? $(this).text().match( qsRegex ) : true;
        }
      })
    });

    // use value of search field to filter
    var $quicksearch = $('#quicksearch').keyup( debounce( function() {
      qsRegex = new RegExp( $quicksearch.val(), 'gi' );
      $container.isotope();
    }, 200 ) );

  });

  // debounce so filtering doesn't happen every millisecond
  function debounce( fn, threshold ) {
    var timeout;
    return function debounced() {
      if ( timeout ) {
        clearTimeout( timeout );
      }
      function delayed() {
        fn();
        timeout = null;
      }
      timeout = setTimeout( delayed, threshold || 100 );
    }
  }
</script>

<!-- End responsive, Isotope-based layout example -->
