<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10">
    <div class="panel panel-default panel-show">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-6">
            <h3 class="panel-title"><%= @found_item.name.titleize %></h3>
          </div>
          <div class="col-md-6">
            <div class="pull-right">
              <% if user_signed_in? %>
                <% if current_user.id == @found_item.user_id %>
                  <%= link_to 'Edit', edit_found_item_path(@found_item) %>
                  |
                  <%= link_to 'Delete', @found_item, method: :delete, data: { confirm: "Do you really want to delete this found_item?" } %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12">
                <%= image_tag @found_item.image1, class: "img-responsive lg-img-js" %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 mini-image-border">
                <% if @found_item.image2.present? %>
                  <%= image_tag @found_item.image2, class: "img-responsive thumbnail sm-img-1-js" %>
                <% end %>
              </div>
              <div class="col-md-3 mini-image-border">
                <% if @found_item.image3.present? %>
                  <%= image_tag @found_item.image3, class: "img-responsive thumbnail sm-img-2-js" %>
                <% end %>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <dl class="dl-horizontal">
              <dt>Category</dt>
              <dd><%= @found_item.category.name %></dd>

              <dt>Location Found</dt>
              <dd><%= @found_item.location %></dd>

              <% if @found_item.side.present? || @found_item.size.present? %>
                <dt>Size</dt>
                <dd>
                  <% if @found_item.side.present? %>
                    <%= @found_item.side.name %>
                  <% end %>
                  <% if @found_item.size.present? %>
                    <%= @found_item.size.name %>
                  <% end %>
                </dd>
              <% end %>

              <% if @found_item.gender.present? || @found_item.age.present? %>
                <dt>Type</dt>
                <dd>
                  <% if @found_item.age.present? %>
                    <%= @found_item.age.name %>
                  <% end %>
                  <% if @found_item.gender.present? %>
                    <%= @found_item.gender.name %>'s
                  <% end %>
                </dd>
              <% end %>

              <% if @found_item.desc.present? %>
                <hr>

                <h5>Description:</h5>
                <p><%= @found_item.desc %></p>
              <% end %>
            </dl>

            <% if user_signed_in? %>
              <% if current_user.id != @found_item.user_id %>
                <%= link_to 'Message Finder', '#', class: 'btn btn-primary btn-block' %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->

<script>
  $('.sm-img-2-js').click(function(){
    $('.lg-img-js').replaceWith( $('.sm-img-2-js'));
  });

  $('.sm-img-1-js').click(function(){
    $('.lg-img-js').replaceWith( $('.sm-img-1-js'));
  });
</script>
