<%= simple_form_for(@item) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, :label => 'Title of Post' %>
    <%= f.input :desc, :label => 'Description' %>
    <div class="row">
      <div class="col-md-6">
        <%= f.input :price %>
      </div>
      <div class="col-md-6">
        <%= f.association :category, collection: Category.all, label_method: :name, value_method: :id %>
      </div>
    </div>

    <hr>

    <h5><strong>Upload Images <small>*At least one required</small></strong></h5>
    <% if @item.image1.present? %>
      <%#= image_tag(@item.image1_url, class: 'small-image') %>
      <%= f.input :image1, label: false %>
      <%= f.hidden_field :image1_cache %>
    <% else %>
      <%= f.input :image1, label: false %>
    <% end %>

    <%= f.input :image2, label: false, title: 'test' %>
    <%= f.input :image3, label: false %>
    <%= f.hidden_field :user_id, value: current_user.id %>
  </div>

  <hr>

  <div class="form-actions">
    <%= f.button :submit %>
    <%= link_to 'Cancel', :back, class: 'btn btn-default'  %>
  </div>
<% end %>
