<div class="page-header">
  <h1>
    Items for Sale
    <div class="pull-right">
      <%= link_to icon('search'), "#", class: "btn btn-lg btn-primary search-js" %>
      <% if user_signed_in? %>
        <%= link_to icon('plus'), new_item_path, class: "btn btn-lg btn-success" %>
      <% end %>
    </div>
  </h1>
</div>

<!-- Responsive, Isotope-based layout example -->

<div class="row">
  <div class="col-xs-12">
    <%= search_form_for @q do |f| %>
      <div class="form-group">
        <%= f.label :name_or_desc_cont, "Search" %>
        <%= f.text_field :name_or_desc_cont, :class => "form-control", :placeholder => "Enter text here..." %>
      </div>

      <div class="form-group">
        <%= f.label :price_gteq, "Between" %>
        <%= f.text_field :price_gteq, :class => "form-control", :placeholder => "Price" %>
        <%= f.label :price_lteq, "and" %>
        <%= f.text_field :price_lteq, :class => "form-control", :placeholder => "Price" %>
      </div>

      <div class="form-group">
        <h5><strong>Category:</strong></h5>
        <% Category.all.each do |category| %>
          <label>
            <%= check_box_tag('q[category_id_eq_any][]', category.id, (true if @q.category_id_eq_any.try(:include?, category.id))) %>
            <%= category.name %>
          <label>
        <% end %>
      </div>

      <%= f.submit :class => "btn btn-primary" %>
      <a href="/items" class="btn btn-default">Clear filters</a>
    <% end %>
  </div>
</div>

<hr>

<div class="row isotope-container">
<% @items.each do |item| %>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 isotope-item">
    <div class="panel panel-default item-border">
      <div class="panel-heading">
        <h3 class="panel-title">
          <%= item.name.truncate(20) %>
          <div class="pull-right">
            $<%= item.price %>
          </div>
        </h3>
      </div>
      <div class="panel-body">
        <dl>
          <div class="boxed-image">
            <dd><%= image_tag item.image1, class: 'img-responsive image-index' %></dd>
          </div>
        </dl>
        <div class="btn-group btn-group-justified">
          <%= link_to icon('search-plus'), item, class: "btn btn-primary bottom-button" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>

<!-- JavaScript for Isotope layout and quicksearch -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.1.8/imagesloaded.pkgd.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.0.0/isotope.pkgd.min.js"></script>
<script>
  $(function() {
    // quick search regex
    var qsRegex;

    // init Isotope
    var $container = $('.isotope-container');

    $container.imagesLoaded(function() {
      $container.isotope({
        itemSelector: '.isotope-item',
        layoutMode: 'masonry',
        filter: function() {
          return qsRegex ? $(this).text().match( qsRegex ) : true;
        }
      })
    });

    // use value of search field to filter
    var $quicksearch = $('#quicksearch').keyup( debounce( function() {
      qsRegex = new RegExp( $quicksearch.val(), 'gi' );
      $container.isotope();
    }, 200 ) );

  });

  // debounce so filtering doesn't happen every millisecond
  function debounce( fn, threshold ) {
    var timeout;
    return function debounced() {
      if ( timeout ) {
        clearTimeout( timeout );
      }
      function delayed() {
        fn();
        timeout = null;
      }
      timeout = setTimeout( delayed, threshold || 100 );
    }
  }

  $('#item_search').hide();
  $('.search-js').click(function(){
    $('#item_search').toggle();
  });
</script>

<!-- End responsive, Isotope-based layout example -->
