<div class="page-header">
  <h1>
    Marketplace
    <div class="pull-right">
      <% if user_signed_in? %>
        <%= link_to icon('plus'), new_item_path, class: "btn btn-lg btn-success" %>
      <% end %>
    </div>
  </h1>
</div>

<!-- Responsive, Isotope-based layout -->

<div class="row">
  <div class="col-xs-2">
    <h4>Narrow By:</h4>
    <%= search_form_for @q do |f| %>
      <div class="form-group">
        <h5><strong>Title or Description:</strong></h5>
        <%= f.text_field :name_or_desc_cont, :class => "form-control", :placeholder => "Enter text here..." %>
      </div>

      <hr>

      <div class="form-group">
        <h5><strong>Shop by Price:</strong></h5>
        <div class="row">
          <div class="col-md-6">
            <%= f.text_field :price_gteq, :class => "form-control", :placeholder => "Min." %>
          </div>
          <div class="col-md-6">
            <%= f.text_field :price_lteq, :class => "form-control", :placeholder => "Max." %>
          </div>
        </div>
      </div>

      <hr>

      <div class="form-group">
        <h5><strong>Shop by Category:</strong></h5>
        <% Category.all.each do |category| %>
          <p>
            <%= check_box_tag('q[category_id_eq_any][]', category.id, (true if @q.category_id_eq_any.try(:include?, category.id))) %>
            <%= category.name %>
          </p>
        <% end %>
      </div>

      <hr>

      <%= f.submit :class => "btn btn-primary" %>
      <a href="/items" class="btn btn-default">Reset</a>
    <% end %>
  </div>


  <div class="col-md-10 isotope-container">
    <% @items.each do |item| %>
      <%#= unless item.in_cart == true %>
        <div class="col-sm-6 col-md-3 col-lg-4 isotope-item">
          <div class="panel panel-default item-border">
            <div class="panel-heading">
              <h3 class="panel-title">
                <%= item.name.titleize.truncate(20) %>
                <div class="pull-right">
                  $<%= item.price %>
                </div>
              </h3>
            </div>
            <div class="panel-body">
              <dl>
                <div class="boxed-image">
                  <dd><%= image_tag item.image1, class: 'img-responsive image-index' %></dd>
                </div>
              </dl>
              <div class="btn-group btn-group-justified">
                <% if user_signed_in? %>
                  <% unless current_user.id == item.user_id %>

                    <%= form_tag cart_items_url, :method => "post", :class => "form-horizontal" do %>
                      <input type="hidden" id="user_id" name="user_id" class="form-control" value="<%= current_user.id %>">

                      <input type="hidden" id="cart_id" name="cart_id" class="form-control" value="<%= current_user.id %>">

                      <input type="hidden" id="item_id" name="item_id" class="form-control" value="<%= item.id %>">

                      <button type="submit" class="btn btn-success bottom-button">
                        Add to Cart
                      </button>
                    <% end %>
                  <% end %>
                <% end %>
                <%= link_to icon('search-plus'), item, class: "btn btn-primary bottom-button" %>
              </div>
            </div>
          </div>
        </div>
      <%# end %>
    <% end %>
  </div>
</div>

<!-- JavaScript for Isotope layout and quicksearch -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.1.8/imagesloaded.pkgd.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.0.0/isotope.pkgd.min.js"></script>
<script>
  $(function() {
    // quick search regex
    var qsRegex;

    // init Isotope
    var $container = $('.isotope-container');

    $container.imagesLoaded(function() {
      $container.isotope({
        itemSelector: '.isotope-item',
        layoutMode: 'masonry',
        filter: function() {
          return qsRegex ? $(this).text().match( qsRegex ) : true;
        }
      })
    });

    // use value of search field to filter
    var $quicksearch = $('#quicksearch').keyup( debounce( function() {
      qsRegex = new RegExp( $quicksearch.val(), 'gi' );
      $container.isotope();
    }, 200 ) );

  });

  // debounce so filtering doesn't happen every millisecond
  function debounce( fn, threshold ) {
    var timeout;
    return function debounced() {
      if ( timeout ) {
        clearTimeout( timeout );
      }
      function delayed() {
        fn();
        timeout = null;
      }
      timeout = setTimeout( delayed, threshold || 100 );
    }
  }
</script>

<!-- End responsive, Isotope-based layout example -->
