<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Item #<%= @item.id %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">
              <dt>Name</dt>
              <dd><%= @item.name %></dd>

              <dt>Desc</dt>
              <dd><%= @item.desc %></dd>

              <dt>Price</dt>
              <dd><%= @item.price %></dd>

              <dt>Found</dt>
              <dd><%= @item.found %></dd>

              <dt>Category</dt>
              <dd><%= @item.category %></dd>

              <dt>Image1</dt>
              <dd><%= @item.image1 %></dd>

              <dt>Image2</dt>
              <dd><%= @item.image2 %></dd>

              <dt>Image3</dt>
              <dd><%= @item.image3 %></dd>

              <dt>User</dt>
              <dd><%= @item.user_id %></dd>

            </dl>
            <div class="btn-group btn-group-justified">
              <%= link_to icon('chevron-left'), items_path, class: "btn btn-primary" %>

              <%= link_to icon('edit'), edit_item_path(@item), class: "btn btn-warning" %>

              <%= link_to icon('trash-o'), @item, method: :delete, data: { confirm: "Do you really want to delete this item?" }, class: "btn btn-danger" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
