<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Gender #<%= @gender.id %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">
              <dt>Found</dt>
              <dd><%= @gender.found_id %></dd>

              <dt>Item</dt>
              <dd><%= @gender.item_id %></dd>

              <dt>Name</dt>
              <dd><%= @gender.name %></dd>

            </dl>
            <div class="btn-group btn-group-justified">
              <%= link_to icon('chevron-left'), genders_path, class: "btn btn-primary" %>

              <%= link_to icon('edit'), edit_gender_path(@gender), class: "btn btn-warning" %>

              <%= link_to icon('trash-o'), @gender, method: :delete, data: { confirm: "Do you really want to delete this gender?" }, class: "btn btn-danger" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
